* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
}

h1 {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  color: #335576;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 4rem;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  height: 5.5rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.nav__menu-link {
  font-size: 1rem;
  color: #335576;
  text-decoration: none;
}

.nav__logo-logo {
  text-decoration: none;
  color: #335576;
}

nav.bar {
  display: flex;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav__menu li {
  padding: 1rem;
}

.nav__menu-link-underline {
  list-style-type: underline;
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #335576;
  text-decoration: none;
  font-size: 1rem;
}

.footer {
  background-color: #fefaf5;
}

.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  font-size: 0.7rem;
}

.footer__title {
  color: #335576;
  padding: 0.5rem 0 0 0;
}

.footer__subtitle {
  color: #db7a4e;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 1rem 1.5rem 0.5rem 0;
}

.footer__detail {
  padding: 0 2rem 0 0;
  color: #335576;
}

.footer__hours {
  display: flex;
  flex-direction: row;
}

.footer__social {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}

.footer__link {
  width: 2rem;
  margin: 0.5rem 1.5rem 0 0;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.footer__link img {
  height: 26px;
}
